{% extends "base.html" %}
{% block main %}

<!--        <div class="row">-->
<!--            <video  width="640" height="360" muted autoplay loop>-->
<!--                <source src="../../static/video.mp4" type="video/mp4">-->
<!--                 Your browser does not support the video tag.-->
<!--            </video>-->
<!--            <h1> Check out our  newest articles! </h1>-->

<!--        </div>-->
<!--        <div class="row">-->
<!--            {% for post in posts %}-->
<!--            <section class="col-8">-->
<!--                <a href="{% url 'index' %}"><h2>{{ post }}</h2></a>-->
<!--                <p>{{ post.content }}</p>-->
<!--                <p>Posted on: {{ post.pub_date }}<span> Posted by: {{ post.created_by }} </span></p>-->

<!--            </section> {% endfor %}-->
<!--            <input type="submit" value="Create a post!" class="btn btn-primary">-->
<!--        </div>-->

   <div class="row">
            <h1 class="text-center">{{ title }}</h1>
        </div>
<div class="row">
    <div class="col-lg-6 mx-auto">
        <form method="POST">
            {% csrf_token %}

            <hr>
       {% if form.errors.choice %}
            <p class="text-danger"> Correct the errors in the form:</p>
            <ul class="text-danger">
                {% for error in form.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

             <div class="my-3 lead row">
                 <div class="col-sm-3">
                    {{ form.title.label_tag }}
                 </div>
                 <div class="col-sm-9">
                     {{ form.title }}
                 </div>
             </div>
             <div class="my-3 lead row">
                   <div class="col-sm-3">
                       {{ form.content.label_tag }}
                   </div>
                    <div class="col-sm-9">
                    {{ form.content }}
                    </div>
             </div>
            <input type="submit" value="Save your edit!" class="btn btn-primary my-5">
        </form>
    </div>
</div>

{% endblock %}