{% extends "base.html" %}
{% block main %}

        <div class="row">
            <video  width="640" height="360" muted autoplay loop>
                <source src="../../static/video.mp4" type="video/mp4">
                 Your browser does not support the video tag.
            </video>


        </div>
        <div class="row">
             <section class="col-8">
                 <p> <h2>{{ post }}</h2></p>
            {{ post.content }}
                 <p><h3> Posted by : {{ post.created_by }}</h3> Posted On: {{ post.pub_date }} </p>

                <p><h3>Comments: </h3> <a href="{% url 'add-comment' post.id %}"> Add a comment!</a> .</p>
                 {% for comment in post.comment_set.all  %}
                  <a href="{% url 'details' post.id %}"><h2>{{ comment }}</h2></a>
                 {{ comment.content }}</p>
                <p>Posted on: {{ comment.pub_date }}<span> Posted by: {{ comment.created_by }}  </span></p>
                 {% endfor %}
            </section>

        </div>

{% endblock %}